.d-header {
    border-bottom: 1px solid var(--secondary);
}

.navigation-container {
    .nav-pills {
        & > li a { /** basically for every .nav-pills.li.a do this**/
            padding: 0px; // exchange padding for margin because padding will expand border
            margin: 0px 10px;
            &.active { /** Ampersand refers to the parent selector always **/
                color: var(--quaternary);
                background-color: var(--secondary);
                border-bottom: 4px solid var(--quaternary);
            }
            &:not(.active):hover { // "not" means it applies to all but that w/ class of ".active"
                color: var(--success);
                background-color: var(--secondary);
                border-bottom: 4px solid var(--success);
            }
        }
    }
}